// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    #define SHIFT_MORPH(NAME, KEY, MOD_KEY) \
        NAME: NAME { \
          compatible = "zmk,behavior-mod-morph"; \
          label = ZMK_MACRO_STRINGIFY(NAME); \
          #binding-cells = <0>; \
          bindings = <&kp KEY>, <&kp MOD_KEY>; \
          mods = <(MOD_LSFT|MOD_RSFT)>; \
      }; \

    #define ACCENTED_KEY(NAME, KEY, DEAD_KEY) \
        NAME##_l: NAME##_l { \
            label = ZMK_MACRO_STRINGIFY(NAME##_l); \
            wait-ms = <0>; \
            tap-ms = <0>; \
            compatible = "zmk,behavior-macro"; \
            #binding-cells = <0>; \
            bindings \
                = <&macro_press &kp LALT> \
                , <&macro_tap &kp DEAD_KEY> \
                , <&macro_release &kp LALT> \
                , <&macro_tap &kp KEY> \
                ; \
        }; \
        NAME##_u: NAME##_u { \
            label = ZMK_MACRO_STRINGIFY(NAME##_u); \
            wait-ms = <0>; \
            tap-ms = <0>; \
            compatible = "zmk,behavior-macro"; \
            #binding-cells = <0>; \
            bindings \
                = <&macro_release &kp LSHFT> \
                , <&macro_press &kp LALT> \
                , <&macro_tap &kp DEAD_KEY> \
                , <&macro_release &kp LALT> \
                , <&macro_press &kp LSHFT> \
                , <&macro_tap &kp KEY> \
                , <&macro_release &kp LSHFT> \
                ; \
        }; \
        NAME: NAME { \
            label = ZMK_MACRO_STRINGIFY(NAME); \
            compatible = "zmk,behavior-mod-morph"; \
            #binding-cells = <0>; \
            bindings = <&NAME##_l>, <&NAME##_u>; \
            mods = <(MOD_LSFT|MOD_RSFT)>; \
            keep-mods = <(MOD_LSFT|MOD_RSFT)>; \
        };

    shiftmorphs {
        SHIFT_MORPH(sm_bcsp, BSPC, DEL)
        SHIFT_MORPH(sm_esc, ESC, TAB)
        SHIFT_MORPH(sm_quote, DQT, SQT)
        SHIFT_MORPH(sm_par, LPAR, RPAR)
        SHIFT_MORPH(sm_bracket, LBKT, RBKT)
        SHIFT_MORPH(sm_curly, LBRC, RBRC)
        SHIFT_MORPH(sm_colon, COLON, SEMI)
        SHIFT_MORPH(sm_slash, SLASH, BSLH)
    };

    accents {
        ACCENTED_KEY(ac_e, E, E)
        ACCENTED_KEY(ac_a, A, E)
        ACCENTED_KEY(ac_i, I, E)
        ACCENTED_KEY(ac_o, O, E)
        ACCENTED_KEY(ac_u, U, E)
        ACCENTED_KEY(ac_ods, O, U)
        ACCENTED_KEY(ac_uds, U, U)
        ACCENTED_KEY(ac_odl, O, J)
        ACCENTED_KEY(ac_udl, U, J)
    };

    behaviors {
        ht: hold_tap {
            label = "hold_tap";
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <220>;
            quick-tap-ms = <180>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };
        ht_b: hold_tap_balanced {
            label = "hold_tap_balanced";
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <160>;
            quick-tap-ms = <100>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };
        slm_lt: sticky_layer_tap {
            label = "sticky_layer_tap";
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            bindings = <&kp>, <&slm>;
        };
        slm: sticky_layer_mod {
			compatible = "zmk,behavior-sticky-key";
			label = "sticky_layer_mod";
			#binding-cells = <1>;
			release-after-ms = <1500>;
			bindings = <&mo>;
			ignore-modifiers;
		};
        lqt: layer_quick_tap {
            label = "layer_quick_tap";
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <160>;
            quick-tap-ms = <100>;
            global-quick-tap;
            bindings = <&mo>, <&kp>;
        };
        skq: sticky_key_quick_release {
            compatible = "zmk,behavior-sticky-key";
            label = "STICKY_KEY_QUICK_RELEASE";
            #binding-cells = <1>;
            bindings = <&kp>;
            release-after-ms = <1000>;
            quick-release;
        };
        slt: slow_layer_tap {
            label = "slow_layer_tap";
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <650>;
            quick-tap-ms = <600>;
            global-quick-tap;
            bindings = <&mo>, <&kp>;
        };
        lt_hp: layer_tap_hp {
            label = "layer_tap_hp";
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <1>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&sm_esc>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  Q       │  W       │  E       │  R       │  T       │   │  Y       │  U       │  I       │  O       │  P       │
            &slt 4 Q    &kp W      &kp E      &kp R      &kp T          &kp Y      &kp U      &kp I      &kp O     &slt 4 P
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  A       │  S       │  D       │  F       │  G       │   │  H       │  J       │  K       │  L       │ bspc del │
            &lqt 2 A     &kp S      &kp D      &kp F      &kp G          &kp H      &kp J      &kp K      &kp L     &sm_bcsp
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  Z       │  X       │  C       │  V       │  B       │   │  N       │  M       │ , <      │ . >      │ /?       │
            &kp Z    &ht LCTRL X  &ht LALT C &kp V      &kp B         &kp N   &ht LGUI M &ht LALT COMMA &ht LCTRL DOT &kp SLASH
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                   &slm_lt LSHIFT 3 &ht_b LGUI SPACE   &kp ENTER   &lt_hp 1
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        symbol_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│    1     │  2       │  3       │  4       │  5       │   │  6       │  7       │  8       │  9       │  0       │
            &kp N1     &kp N2     &kp N3    &kp N4      &kp N5         &kp N6     &kp N7     &kp N8     &kp N9     &kp N0
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│ !        │  @       │  *       │  =       │  -       │   │ " '      │  ( )     │  [ ]     │ { }      │    : ;   │
            &kp EXCL   &kp AT   &kp STAR   &kp EQUAL  &kp MINUS       &sm_quote   &sm_par  &sm_bracket  &sm_curly  &sm_colon
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│ `        │  &       │  #       │ +        │    _     │   │     %    │     $    │      ^   │   |      │     \  │
           &kp GRAVE   &kp AMPS   &kp HASH   &kp PLUS  &kp UNDER      &kp PRCNT   &kp DLLR  &kp CARET   &kp PIPE   &kp BACKSLASH
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &trans     &trans         &trans     &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        nav_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮              ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│          │          │          │          │          │              │          │          │          │          │          │
            &none       &none     &kp UP   &kp LC(DOWN)  &kp LC(UP)                 &none       &none       &none    &none      &none
        //├──────────┼──────────┼──────────┼──────────┼──────────┤              ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │  left    │  down    │  right   │          │              │          │          │          │          │          │
            &trans     &kp LEFT   &kp DOWN   &kp RIGHT  &kp C_VOL_UP              &none      &none       &none     &none       &none
        //├──────────┼──────────┼──────────┼──────────┼──────────┤              ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │          │          │              │          │    GUI   │   ALT    │   CTRL   │          │
    &none  &kp LG(LC(LEFT)) &kp LC(LA(LS(ENTER))) &kp LG(LC(RIGHT)) &kp C_VOL_DN &none       &kp LGUI  &kp LALT    &kp LCTRL   &none
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤              ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &trans     &trans                    &trans     &trans
        //                                 ╰──────────┴──────────╯              ╰──────────┴──────────╯
            >;
        };

        accent_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│          │          │          │          │          │   │          │          │          │          │          │
            &none     &none       &ac_e       &none      &none         &none       &ac_u     &ac_i     &ac_o       &none
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │          │          │   │          │          │          │          │          │
            &ac_a       &none       &none     &none     &none         &none        &ac_uds      &none   &ac_ods    &none
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │          │          │   │          │          │          │          │          │
             &none       &none       &none    &none      &none        &none       &ac_udl     &none     &ac_odl     &none
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &trans     &trans         &trans     &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        misc_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│          │          │          │          │bootloader│   │bootloader│          │          │          │          │
            &trans     &none       &none      &none   &bootloader     &bootloader   &none   &none    &none        &trans
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │          │          │   │          │          │          │          │          │
    &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 3  &bt BT_CLR &out OUT_TOG       &none     &none      &none       &none    &none
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │          │ reset    │   │  reset   │          │          │          │          │
            &none       &none      &none        &none    &sys_reset        &sys_reset      &none       &none   &none       &none
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &none      &none          &none      &none
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };
    };
};
